.container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    bottom: -100vh;
    left: 0;
    z-index: 9;
    background-color: #ffffff;
    overflow-y: auto;
    transition: bottom .3s ease-in-out;
}

.open {
    bottom: 0;
}

.close {
    position: fixed;
    top: 100vh;
    left: 10px;
    transition: top .3s ease-in-out;
}

.showClose {
    top: 10px;
}

.banner {
    position: fixed;
    background-image: url('../../../public/rock-werchter-banner.jpg');
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.3);
}

.title {
    margin-top: 105px;
    margin-bottom: 25px;
    font-size: var(--font-size-subTitle);
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.title span {
    color: var(--color-primary);
}

.gatherAction, .tentAction, .pinAction, .gather, .tent, .pin {
    display: flex;
    align-items: center;
    margin-left: 45px;
    margin-bottom: 20px;
}

.pinAction {
    margin-bottom: 40px;
}

.iconDiv {
    width: 55px;
    display: flex;
    justify-content: center;
}

.iconText {
    margin-left: 25px;
    font-size: var(--font-size-smallTitle);
    font-weight: 600;
}

.iconText span {
    color: var(--color-primary);
}

.icons {
    margin: 40px 35px 0; 
    display: flex;
    justify-content: space-evenly;
}

.iconsSubTitle {
    font-size: var(--font-size-smallTitle);
    font-weight: 600;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 85px;
}
