.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    min-height: 85vh;
}

.title {
    font-size: var(--font-size-subTitle);
    font-weight: 700;
    margin: 0 20px;
}

.subTitle {
    font-size: var(--font-size-subTitle);
    margin: 5px 20px;
    text-align: center;
}

.supportIcon {
    width: 120px;
    height: auto;
    margin-top: 105px;
    margin-bottom: 30px;
}

.codeText {
    text-align: center;
    margin: 40px 20px 0;
}

.codeText span {
    font-weight: 600;
}

.activeSession {
    font-weight: 700;
    color: var(--color-primary);
    font-size: var(--font-size-subTitle);
}

.button {
    position: absolute;
    bottom: 75px;
}
