.button {
    display: flex;
    text-transform: uppercase;
    font-weight: 700;
    font-size: var(--font-size-title);
    color: var(--color-secondary-light);
    background-color: var(--color-primary);
    width: 300px;
    height: 50px;
    border-radius: 12px;
    justify-content: center;
    align-items: center;
}