.button {
    display: flex;
    text-transform: uppercase;
    font-weight: 700;
    font-size: var(--font-size-subTitle);
    color: var(--color-secondary-heavy);
    background-color: var(--color-primary-light);
    width: 300px;
    height: 50px;
    border-radius: 12px;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 15px;
}

.teams {
    background-color: transparent;
    border: 2px solid var(--color-primary);
}
