.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.iconDiv {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 25px;
}

.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon p {
    font-size: var(--font-size-text);
    font-weight: 600;
}

.iconForm {
    width: 100vw;
}

.iconForm .iconTitle {
    margin-top: 40px;
    text-align: center;
    font-size: var(--font-size-smallTitle);
    font-weight: 600;
}

.iconForm .iconTitle span {
    color: var(--color-primary);
}

.iconForm input[type='radio'] {
    display: none;
}

.iconForm input:checked + label {
    color: var(--color-primary);
}

.icons {
    display: flex;
    justify-content: space-evenly;
    margin: 20px 25px;
}

.title {
    font-size: var(--font-size-subTitle);
    font-weight: 700;
    margin: 0 20px;
}

.subTitle {
    font-size: var(--font-size-subTitle);
    margin: 5px 20px;
    text-align: center;
}

.codeDiv {
    margin: auto;
    margin-top: 40px;
    width: 300px;
    height: 50px;
    border: 2px solid var(--color-primary);
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.codeDiv p {
    margin: 0;
    font-size: var(--font-size-subTitle);
    font-weight: 700;
}

.codeDiv input {
    border: none;
    font-size: var(--font-size-subTitle);
    width: 125px;
    font-family: 'Poppins', sans-serif;
}

.codeDiv input:focus {
    outline: none;
}

.newSession {
    margin: auto;
    display: flex;
    text-transform: uppercase;
    font-weight: 700;
    font-size: var(--font-size-subTitle);
    color: var(--color-secondary-heavy);
    background-color: var(--color-primary-light);
    width: 300px;
    height: 50px;
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    border: none;
    margin-bottom: 25px;
    font-family: var(--font-family);
}

.or {
    font-weight: 600;
    font-size: var(--font-size-text);
    margin: 10px 0;
    text-align: center;
}

.connectionIcon {
    width: 120px;
    height: auto;
    margin-bottom: 30px;
}

.lastSession {
    font-size: var(--font-size-smallTitle);
    text-decoration: underline;
}

.logoHeader {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 30px;
    background-image: url('../../../public/sky.jpg');
    background-size: cover;
    width: 100vw;
    height: 70px;
}

.logo {
    width: 160px;
    height: auto;
    -webkit-filter: drop-shadow(var(--shadow));
    filter: drop-shadow(var(--shadow));
}
