.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    min-height: 85vh;
}

.title {
    font-size: var(--font-size-subTitle);
    font-weight: 700;
    margin: 0 20px;
}

.subTitle {
    font-size: var(--font-size-subTitle);
    margin: 5px 20px;
    text-align: center;
}

.teamIcon {
    width: 120px;
    height: auto;
    margin-top: 105px;
    margin-bottom: 30px;
}

.teamForm {
    display: flex;
    flex-direction: column;
}

.teamInput {
    width: 300px;
    height: 40px;
    border: 2px solid var(--color-secondary-heavy);
    border-radius: 12px;
    padding: 10px;
    font-family: var(--font-family);
    margin-top: 50px;
}

.teamInput:focus {
    outline: none;
    border-color: var(--color-primary);
}

.teamSubmit {
    width: 300px;
    height: 50px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: var(--font-size-subTitle);
    color: var(--color-secondary-heavy);
    background-color: var(--color-primary-light);
    border: none;
    border-radius: 12px;
    font-family: var(--font-family);
    position: absolute;
    bottom: 75px;
}
