.container {
    width: 300px;
    height: calc(var(--vh, 1vh) * 100);
    position: fixed;
    top: 0;
    left: -425px;
    z-index: 99;
    transition: left .3s ease-in-out;
    user-select: none;
}

.open {
    left: 0;
}

.user {
    background-color: var(--color-secondary-light);
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profilePic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: var(--shadow);
}

.name {
    margin-left: 25px;
    font-weight: 600;
}

.progress {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #ffffff;
    height: 20%;
}

.activityDiv {
    padding: 15px;
    padding-left: 0;
    width: 152.5%;
}

.scrollDiv {
    margin: 0 15px;
    overflow-x: scroll;
}

.code {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary-light);
    height: 5%;
}

.codeText {
    margin: 0;
}

.codeText span {
    font-weight: 700;
    font-size: var(--font-size-subTitle);
    margin-left: 5px;
}

.navigation {
    background-image: url('../../../public/background8.jpg');
    background-size: cover;
    background-position: center;
    height: 65%;
}

.map a, .teams a, .invite a, .logout a {
    display: flex;
    align-items: center;
}

.map {
    padding-top: 10px;
}

.map p, .teams p, .invite p, .logout p, .leave p {
    margin-left: 25px;
    font-weight: 700;
    font-size: var(--font-size-subTitle);
}

.map svg, .teams svg, .invite svg, .logout svg, .leave svg {
    margin-left: 35px;
}

.logout {
    color: var(--color-secondary-light);
    text-shadow: var(--shadow);
    position: fixed;
    bottom: 15px;
}

.leave {
    display: flex;
    align-items: center;
}

.logout svg {
    -webkit-filter: drop-shadow(var(--shadow));
    filter: drop-shadow(var(--shadow));
}

.backdrop {
    position: absolute;
    width: 100vw;
    height: calc(var(--vh, 1vh) * 100);
    top: 0;
    left: 0;
    background-color: var(--color-secondary-heavy);
    opacity: 0;
    z-index: -1;
    transition: opacity .3s ease-in;
}

.backdropOpen {
    opacity: 0.5;
}
