.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: var(--font-size-subTitle);
    font-weight: 700;
    margin: 0 20px;
}

.subTitle {
    font-size: var(--font-size-subTitle);
    margin: 5px 20px;
}

.flagIcon {
    width: 50px;
    height: auto;
    margin-bottom: 15px;
}
