.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(var(--vh, 1vh) * 100);
    width: 100vw;
}

.title {
    font-size: var(--font-size-subTitle);
    font-weight: 700;
    margin: 0 20px;
}

.subTitle {
    font-size: var(--font-size-subTitle);
    margin: 5px 20px 0;
    text-align: center;
}

.flagIcon {
    width: 45px;
    height: auto;
    margin-top: 25%;
    margin-bottom: 5%;
}

.map {
    width: 95vw;
    height: 100%;
    margin: 15px;
}
