.container {
    width: 80vw;
    height: 40px;
    border: 1px solid var(--color-secondary-heavy);
    border-radius: 12px;
    background-color: var(--color-secondary-light);
    display: flex;
    align-items: center;
}

.container:focus-within {
    border-color: var(--color-primary);
}

.container svg {
    margin-left: 6px;
}

.searchInput {
    border: none;
    width: 85%;
    margin-left: 5px;
    font-family: var(--font-family);
    background-color: var(--color-secondary-light);
}

.searchInput:focus {
    outline: none;
}
