.container {
    --size: 55px;

    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--shadow);
    background-image: url('../../../public/sky.jpg');
    background-size: cover;
    background-position: center;
}

.active {
    background-image: none;
    background-color: #ffffff;
}
