.container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    bottom: -100vh;
    left: 0;
    z-index: 99;
    background-color: #ffffff;
    transition: bottom .3s ease-in-out;
}

.open {
    bottom: 0;
}

.close {
    position: absolute;
    top: 10px;
    left: 10px;
}
