.container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    bottom: -100vh;
    left: 0;
    z-index: 99;
    background-color: #ffffff;
    overflow-y: auto;
    transition: bottom .3s ease-in-out;
}

.open {
    bottom: 0;
}

.close {
    position: absolute;
    top: 10px;
    left: 10px;
}

.logoDiv {
    display: flex;
    justify-content: center;
}

.logo {
    width: 100px;
    height: auto;
    margin-top: 26px;
}

.title {
    text-align: right;
    font-weight: 600;
    margin: 35px 40px 0 0;
}

.title span {
    color: var(--color-primary);
}

.subTitle {
    margin: 0;
    font-size: var(--font-size-smallTitle);
    text-align: right;
    margin-right: 40px;
}

.sponsorDiv {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 30px;
    padding-left: 40px;
    margin: 20px 0;
}

.sponsorDiv:nth-child(even) {
    background-color: var(--color-secondary-light);
}

.sponsorLogo {
    width: 12.5%;
    height: auto;
    margin: 0 30px 0 0;
}

.sponsorInfo p {
    margin: 0;
    font-size: var(--font-size-smallTitle);
    font-weight: 600;
    text-transform: capitalize;
}

.price {
    font-weight: 400;
}

.voucher {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 40px;
    margin-bottom: 20px;
}

.voucher p {
    margin: 0;
    font-size: var(--font-size-smallTitle);
    font-weight: 600;
}

.notCompleted {
    opacity: 0.5;
}
