.container {
    background-image: url('../public/login-image.jpg');
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
}

.title {
    margin: 0;
    font-family: var(--font-family-logo);
    font-size: 100px;
    font-weight: 400;
    text-align: center;
    padding-top: 10px;
    color: var(--color-secondary-heavy);
}

.subTitle {
    font-size: 28px;
    font-weight: 700;
    color: var(--color-secondary-light);
    text-shadow: var(--shadow);
    text-align: center;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
}

.subTitle span {
    color: var(--color-primary-light);
}
