@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Zilla+Slab+Highlight:wght@700&display=swap');

/* GLOBAL VARIABLES */

:root {
  --color-primary: #7E78D2;
  --color-primary-light: #6DD6DA;
  --color-secondary-heavy: #272d2d;
  --color-secondary-light: #f6f8ff;

  --font-size-title: 24px;
  --font-size-subTitle: 18px;
  --font-size-smallTitle: 14px;
  --font-size-text: 12px;

  --font-family: 'Poppins', sans-serif;
  --font-family-highlight: 'Zilla Slab Highlight', cursive;

  --shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

/* GLOBAL CSS */

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
  color: var(--color-secondary-heavy);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.swal2-actions button {
  font-family: var(--font-family);
}
