.container {
    width: 100vw;
    height: calc(var(--vh, 1vh) * 100);
    position: relative;
}

.menu {
    position: fixed;
    left: 10px;
    top: 10px;
}

.banner {
    position: fixed;
    top: 0;
    background-image: url('../public/rock-werchter-banner.jpg');
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.3);
}

.title {
    text-align: right;
    font-weight: 600;
    margin: 0;
    margin-right: 50px;
    padding-top: 105px;
}

.title span {
    color: var(--color-primary);
}

.subTitle {
    margin: 0;
    font-size: var(--font-size-smallTitle);
    text-align: right;
    margin-right: 50px;
}

.facebookDiv, .copyDiv {
    display: flex;
    justify-content: center;
    margin-top: 75px;
}

.copyDiv {
    margin-top: 20px;
}

.facebook, .copy {
    text-align: center;
    display: flex;
    text-transform: uppercase;
    font-weight: 700;
    font-size: var(--font-size-subTitle);
    color: var(--color-secondary-heavy);
    background-color: var(--color-primary-light);
    width: 300px;
    height: 50px;
    border-radius: 12px;
    justify-content: flex-start;
    align-items: center;
    border: none;
    font-family: var(--font-family);
}

.copy {
    background-color: transparent;
    border: 2px solid var(--color-primary);
}

.facebook svg, .copy svg {
    width: 25%;
}

.facebook p, .copy p {
    width: 70%;
}

.imageFooter {
    position: absolute;
    bottom: 0;
    background-image: url('../public/invite-image.jpg');
    height: 27.5%;
    width: 100%;
    background-size: cover;
}
