.imageMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../public/login-image.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.imageMain h1 {
    margin: 0;
    font-family: var(--font-family-highlight);
    color: var(--color-secondary-light);
}

.imageMain .logo {
    width: 300px;
    margin-top: 50px;
    -webkit-filter: drop-shadow(var(--shadow));
    filter: drop-shadow(var(--shadow));
}

.title {
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    padding-top: 15px;
}

.subTitleDiv {
    position: absolute;
    bottom: 130px;
}

.subTitle {
    text-align: center;
    font-size: var(--font-size-title);
    font-weight: 700;
    color: var(--color-secondary-light);
    margin: 10px 20px;
    text-shadow: var(--shadow);
}

.subTitle span {
    color: var(--color-primary-light);
}

.button {
    position: absolute;
    bottom: 35px;
    left: 50%;
    transform: translateX(-50%);
}