.imageMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../public/login-image.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.imageMain .logo {
    width: 275px;
    margin-top: 40px;
}

.title {
    margin: 0;
    font-family: var(--font-family-highlight);
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    padding-top: 15px;
    color: var(--color-secondary-heavy);
}

.subTitleDiv {
    position: absolute;
    bottom: 120px;
}

.subTitle {
    text-align: center;
    font-size: var(--font-size-title);
    font-weight: 700;
    color: var(--color-secondary-light);
    margin: 10px 20px;
    text-shadow: var(--shadow);
}

.subTitle span {
    color: var(--color-primary-light);
}

.button {
    position: absolute;
    bottom: 35px;
    left: 50%;
    transform: translateX(-50%);
}

.login {
    display: flex;
    text-transform: uppercase;
    font-weight: 700;
    font-size: var(--font-size-subTitle);
    color: var(--color-secondary-heavy);
    background-color: var(--color-primary-light);
    width: 300px;
    height: 50px;
    border-radius: 12px;
    justify-content: center;
    align-items: center;
}
