.map {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.menu {
    position: absolute;
    left: 10px;
    bottom: 30px;
}

.actions {
    position: absolute;
    z-index: 10;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.actions > div {
    margin: 10px;
}
