.map {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.menu {
    position: absolute;
    left: 10px;
    top: 10px;
}

.actions {
    position: absolute;
    z-index: 5;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.actions > div {
    margin: 10px;
}

.notification {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    z-index: 10;
    top: 80px;
    width: 94vw;
    height: 45px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffffff;
    border: 2px solid var(--color-primary-light);
    border-radius: 12px;
    padding: 10px;
    box-shadow: var(--shadow);
    animation: animateIn .3s ease-out;
}

.notification p {
    margin: 0;
    padding: 10px;
    font-size: var(--font-size-text);
    font-weight: 600;
}

.notification p span {
    font-weight: 700;
}

.progressDiv {
    padding: 0 10px;
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 80px;
    background-color: #ffffff;
    z-index: 10;
    box-shadow: -1px -2px 6px rgba(0, 0, 0, 0.1);
}

.progressHeader {
    display: flex;
    justify-content: center;
    align-items: center;
}

.progressTitle {
    margin: 7px;
    text-align: center;
    text-transform: uppercase;
    font-size: var(--font-size-smallTitle);
    font-weight: 600;
    flex: 1;
    margin-left: 25px;
}

.info {
    position: absolute;
    right: 10px;
    bottom: 95px;
}

@keyframes animateIn {
    from {
        top: 90px;
        opacity: 0;
    }
    to {
        top: 80px;
        opacity: 1;
    }
}
