.container {
    min-height: 100vh;
    height: fit-content;
    background-color: var(--color-secondary-light);
    position: relative;
}

.logoHeader {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 20px;
    margin-bottom: 30px;
    background-image: url('../public/session-image.jpg');
    background-size: contain;
    width: 100vw;
}

.logoTitle {
    font-family: var(--font-family-highlight);
    font-size: 44px;
    color: var(--color-secondary-light);
    -webkit-filter: drop-shadow(var(--shadow));
    filter: drop-shadow(var(--shadow));
}

.logoX {
    font-size: 32px;
    color: var(--color-secondary-light);
    -webkit-filter: drop-shadow(var(--shadow));
    filter: drop-shadow(var(--shadow));
}

.iconDiv {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 25px;
}

.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon p {
    font-size: var(--font-size-text);
    font-weight: 600;
}

.iconForm .iconTitle {
    margin-top: 40px;
    text-align: center;
    font-size: var(--font-size-smallTitle);
    font-weight: 600;
}

.iconForm .iconTitle span {
    color: var(--color-primary);
}

.iconForm input[type='radio'] {
    display: none;
}

.iconForm input:checked + label {
    color: var(--color-primary);
}

.icons {
    display: flex;
    justify-content: space-evenly;
    margin: 20px 25px;
}

.logo {
    width: 70px;
    height: 100%;
    -webkit-filter: drop-shadow(var(--shadow));
    filter: drop-shadow(var(--shadow));
}

.title {
    font-size: var(--font-size-title);
    font-weight: 700;
    text-align: center;
    margin: 0 10px 30px;
}

.title span {
    color: var(--color-primary);
}

.subTitle {
    font-size: var(--font-size-smallTitle);
    text-align: center;
    margin: 15px 20px;
}

.subTitle span {
    font-weight: 600;
}

.codeDiv {
    margin: auto;
    margin-top: 30px;
    width: 300px;
    height: 50px;
    border: 2px solid var(--color-primary);
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.codeDiv p {
    margin: 0;
    font-size: var(--font-size-title);
    font-weight: 700;
}

.codeDiv input {
    border: none;
    font-size: var(--font-size-title);
    width: 125px;
    font-family: 'Poppins', sans-serif;
}

.codeDiv input:focus {
    outline: none;
}

.newSession {
    margin: auto;
    display: flex;
    text-transform: uppercase;
    font-weight: 700;
    font-size: var(--font-size-title);
    color: var(--color-secondary-light);
    background-color: var(--color-primary);
    width: 300px;
    height: 50px;
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    border: none;
    margin-bottom: 25px;
    font-family: var(--font-family);
}

.or {
    font-weight: 600;
    font-size: var(--font-size-text);
    margin: 10px 0;
    text-align: center;
}
