.banner {
    position: fixed;
    top: 0;
    background-image: url('../public/rock-werchter-banner.jpg');
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.3);
}

.pagination {
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}

.pagination span {
    --size: 15px;

    display: inline-block;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    background-color: #CECECE;
    box-shadow: var(--shadow);
    margin: 5px;
}

.pagination .activePage {
    background-color: var(--color-primary);
}
