.menu {
    position: fixed;
    left: 10px;
    top: 10px;
}

.banner {
    position: fixed;
    top: 0;
    background-image: url('../public/rock-werchter-banner.jpg');
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.3);
}

.topNav {
    display: flex;
    justify-content: space-evenly;
    margin-top: 95px;
    font-size: var(--font-size-smallTitle);
    font-weight: 600;
}

.topNav p {
    width: 110px;
    text-align: center;
    text-transform: uppercase;
}

.topNav .activeTeams {
    background-color: var(--color-primary-light);
    border-radius: 12px;
}

.topNav .activeChallenged {
    background-color: var(--color-primary);
    border-radius: 12px;
    color: #ffffff;
}

.search {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.ownTeam, .otherTeams {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ownTeam h1, .otherTeams h1, .fromChallenges h1, .toChallenges h1 {
    text-align: center;
    font-size: var(--font-size-subTitle);
    text-transform: uppercase;
}

.ownTeam h1 span, .otherTeams h1 span {
    color: var(--color-primary);
}

.titleDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
    margin-bottom: 10px;
}

.subTitle {
    margin: 0;
    font-size: var(--font-size-text);
    margin-bottom: 15px;
}

.teamName {
    font-size: var(--font-size-smallTitle);
    font-weight: 600;
    margin: 0;
}

.teamName span {
    color: var(--color-primary);
    font-weight: 700;
}

.title {
    margin-bottom: 0;
}

.ownTeamList {
    padding-left: 0;
    margin: 0;
}

.ownTeamList li {
    list-style-type: none;
    font-size: var(--font-size-smallTitle);
    font-weight: 600;
    width: 100vw;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ownTeamList li svg {
    width: 35px;
    margin-right: 25px;
}

.ownTeamList li:nth-child(odd) {
    background-color: var(--color-secondary-light);
}

.ownTeamList .empty {
    opacity: 0.5;
    font-style: italic;
}

.otherTeams h1 {
    margin-top: 25px;
    margin-bottom: 0;
}

.otherTeamsList {
    height: 30vh;
    overflow-y: scroll;
    margin-bottom: 15px;
}

.team {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 85vw;
}

.team p {
    font-size: var(--font-size-smallTitle);
    font-weight: 600;
    flex: 0.65;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.team .people {
    display: flex;
    justify-content: flex-start;
    width: 35px;
}

.team button {
    border: 2px solid var(--color-primary);
    border-radius: 12px;
    width: 85px;
    height: 30px;
    font-family: var(--font-family);
    font-size: var(--font-size-text);
    font-weight: 700;
    text-transform: uppercase;
}

.modalForm {
    display: flex;
    flex-direction: column;
    margin-left: 25px;
}

.modalForm label {
    margin: 20px 0 5px;
}

.modalTitle {
    font-size: var(--font-size-title);
    text-align: center;
    margin: 0;
    margin-top: 10px;
}

.modalTitle span {
    color: var(--color-primary);
}

.modalTime, .modalSelect {
    font-family: var(--font-family);
    font-weight: 600;
    border: 2px solid var(--color-primary);
    border-radius: 12px;
    height: 40px;
    width: 300px;
}

.modalTime:focus, .modalSelect:focus {
    outline: none;
}

.modalTime {
    padding: 0 30px;
}

.modalSelect {
    padding: 0 15px;
}

.modalSelect option {
    font-family: var(--font-family);
}

.modalSubmit {
    display: flex;
    text-transform: uppercase;
    font-weight: 700;
    font-size: var(--font-size-subTitle);
    color: var(--color-secondary-heavy);
    background-color: var(--color-primary-light);
    width: 225px;
    height: 50px;
    border-radius: 12px;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 15px;
    border: none;
    font-family: var(--font-family);
    position: absolute;
    left: 25px;
    bottom: 25px;
}

.challengeCards {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 175px);
    grid-gap: 20px;
    padding-bottom: 5px;
    margin: 20px 0;
}

.challengeCard {
    width: 175px;
    height: 250px;
    box-shadow: var(--shadow);
    border-radius: 12px;
    position: relative;
}

.cardTop {
    background-color: var(--color-primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    color: var(--color-secondary-light);
    padding: 0 10px;
    height: 50px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.cardTheme {
    margin: 5px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: var(--font-size-text);
}

.cardTeam {
    position: absolute;
    bottom: 30px;
    left: 12px;
    font-weight: 600;
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cardDelete {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    height: 25px;
    background-color: transparent;
    border: 2px solid var(--color-primary);
    border-radius: 12px;
    font-weight: 700;
    font-family: var(--font-family);
    text-transform: uppercase;
}
