.menu {
    position: fixed;
    left: 10px;
    top: 10px;
}

.banner {
    position: fixed;
    top: 0;
    background-image: url('../public/rock-werchter-banner.jpg');
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.3);
}

.topNav {
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
    font-size: var(--font-size-smallTitle);
    font-weight: 600;
}

.topNav p {
    width: 110px;
    text-align: center;
    text-transform: uppercase;
}

.topNav .activeTeams {
    background-color: var(--color-primary-light);
    border-radius: 12px;
}

.topNav .activeChallenged {
    background-color: var(--color-primary);
    border-radius: 12px;
    color: #ffffff;
}

.search {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.ownTeam, .otherTeams {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ownTeam h1, .otherTeams h1 {
    font-size: var(--font-size-subTitle);
    text-transform: uppercase;
}

.ownTeam h1 span, .otherTeams h1 span {
    color: var(--color-primary);
}

.titleDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60px;
    margin-bottom: 10px;
}

.titleDiv p {
    margin: 0;
    font-size: var(--font-size-text);
    margin-bottom: 20px;
}

.titleDiv h1 {
    margin-bottom: 0;
    margin-top: 25px;
}

.ownTeamList {
    padding-left: 0;
    margin: 0;
}

.ownTeamList li {
    list-style-type: none;
    font-size: var(--font-size-smallTitle);
    font-weight: 600;
    width: 100vw;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ownTeamList li svg {
    width: 35px;
    margin-right: 25px;
}

.ownTeamList li:nth-child(odd) {
    background-color: var(--color-secondary-light);
}

.ownTeamList .empty {
    opacity: 0.5;
    font-style: italic;
}

.otherTeams h1 {
    margin-top: 25px;
}

.otherTeamsList {
    height: 33.5vh;
    overflow-y: scroll;
    margin-bottom: 25px;
}

.team {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 85vw;
}

.team p {
    font-size: var(--font-size-smallTitle);
    font-weight: 600;
    flex: 0.65;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.team .people {
    display: flex;
    justify-content: flex-start;
    width: 35px;
}

.team button {
    border: 2px solid var(--color-primary);
    border-radius: 12px;
    width: 85px;
    height: 30px;
    font-family: var(--font-family);
    font-size: var(--font-size-text);
    font-weight: 700;
    text-transform: uppercase;
}
